storage:
  type: filesystem
  options:
    directory: _storage

alerting:
  channels:
    - type: email
      constraint: onStatusChange
      options:
        smtpHost: smtps.udag.de
        smtpUser: <username>
        smtpPassword: "<password>"
        emailAddresses:
          - nils.langner@startwind.io
          - maxi.langner@startwind.io

